@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff;
}

.button-up {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 100px;
  right: 40px;
  background: gray;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.button-up:hover {
  text-decoration: none;
  color: #fff;
  background: #3abeff;
}

.alternative-navbar {
  display: flex;
  justify-content: space-around;
}

.imagenes-hover {
  display: flex;
}

.imagenes-hover-hide {
  display: none;
}

.productos-navbar {
  display: flex;
  justify-content: center;
  height: 100px;
}

.productos-navbar img {
  margin-left: 30px;
}

.enlace {
  text-decoration: none;
  list-style: none !important;
  color: white;
}

.cards-actividades {
  height: 400px;
  background: #F3F3F3;
  padding: 25px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.author {
  display: flex;
  gap: 10px;
  align-items: center;
}

.author h3 {
  font-size: var(--fs-20);
}

.author p {
  line-height: 1.68;
  font-size: 17px;
}

.carousel-text {
  font-size: 32px;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 125px;
}

.carousel-container {
  display: flex;
  width: 100%;
}

.cont-cards {
  width: '100%';
  display: flex;
}

.card-container {
  display: flex;
}

.container-slider {
  height: 350px;
}

.compra-carousel-title {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 27px;
  font-size: 37px;
}

.compra-carousel-text {
  text-align: left;
  font-size: 20px;
}

.img-actividades {
  border-radius: 30px;
}

.navlinks-navbar {
  color: #0d1b2a;
}

.banner-inicial {
  width: 100%;
  margin: 0;
}

.navbar-enlaces {
  position: relative;
}

.navbar-enlaces::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 100%;
  height: 4px;
  background-color: #00b4d8;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.navbar-enlaces:hover::after {
  opacity: 1;
}

.accesorios-container:hover {
  cursor: pointer;
}



@media (max-width: 650px) {
  .sandisk-banner {
    display: none;
  }

  .banner-gif {
    display: none;
  }

  .banner-hero9 {
    display: none;
  }

  .banners-finales {
    display: none;
  }

  .accesorios-container {
    display: none;
  }

  .quik-banner {
    display: none;
  }

  .jumbotron-content {
    margin-left: 0 !important;
  }

}